<div class="container">
    <div class="row mt-4">
        <div class="col-md-6  mt-5 align-middle">
            <p class="mt-5" style="font-size: 18px;">
                Bonjour, je suis Abidar Yassine. Actuellement je suis un Eleve Ingénieur en duexiemme année System d'information && Réseaux Informatique à la faculté des sciences et technique Marrakech. passionné par le developpemt web & mobile & AI.
            </p>
            <div class="d-flex justify-content-between">
                <div class="p-2">
                    <a href="https://www.linkedin.com/in/yassine-abidar-56bb4819b/"><i style="color: #0077B5;" class="fab fa-linkedin-in fa-3x"></i></a>
                </div>
                <div class="p-2">
                    <a href="https://github.com/AbidarYassine">
                        <i style="color: #171515;" class="fab fa-github fa-3x"></i>
                    </a>
                </div>
                <div class="p-2">
                    <a href="https://twitter.com/YassineAbidar5">
                        <i style="color:#1DA1F2" class="fab fa-twitter fa-3x">
                      </i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/me.jpg" alt="Image">
        </div>
    </div>
</div>