.centered {
    // position: absolute;
    // left: 50%;
    // transform: translate(-50%, 100%);
    position: absolute;
    /* Important */
    top: 39%;
    /* Position Y halfway in */
    left: 50%;
    /* Position X halfway in */
    transform: translate(-50%, -50%);
    /* Move it halfway back(x,y) */
}
