<div id="skills">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint accusantium enim officiis a. Nemo magni repudiandae a dolores assumenda non eligendi, omnis distinctio consequatur fugiat dolorum molestiae adipisci ullam officiis et sint tempora tenetur.
    Eum incidunt ratione quo cum praesentium ea, illo quam doloremque fugiat maiores tempore labore tenetur minus magni id, at cumque! Laudantium reiciendis accusantium necessitatibus corrupti id eligendi minima qui commodi, provident iure totam voluptatum?
    Explicabo voluptate perspiciatis quod ut harum, reiciendis cupiditate mollitia? Harum pariatur quae dolor qui quo, delectus rem. Asperiores beatae maiores nesciunt sunt blanditiis, totam, provident nemo fugiat fugit similique obcaecati harum voluptatum.
</div>
